<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="icon" type="image/x-icon" href="https://s3.amazonaws.com/annlewis.tech/favicon.ico" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <section>

        <div class="top-section">
          <div class="name-area">
            <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>            
          </div>
          <div class="pic-area">
            <img src="https://s3.amazonaws.com/annlewis.tech/ann_hs-small%2Bsq.jpg">
          </div>
          <div class="bio">
            <p>Ann Lewis is Senior Advisor for Technology Delivery at the <a href="https://www.sba.gov/">SBA</a>, focusing on service delivery, system integration, procurement, and all the places where policy implementation intersect with technology. She is part of a  cohort of technology leaders appointed to government agencies, with the goal of helping agencies work together more efficiently to deliver pandemic aid and economic recovery programs.
            </p>
            <p>
              Ann was previously the CTO of <a href="https://moveon.org">MoveOn</a> where she built the in-house tech team and helped the organization build and scale up core infrastructure. She is a tech industry veteran with deep expertise in cloud architecture, system migrations, distributed systems scaling, and cyber security. She is passionate about helping decision makers better understand technology, and making technical systems actually work for the people these systems serve. She decided to leave her role at MoveOn and join the Biden-Harris administration in early 2021, inspired by the administration's plans to contain COVID-19, support economic recovery, and center racial equity. 
            </p>
          <p>
          </p>

          </div>
        </div>
      </section>

      <section>

      {{ content }}

      </section>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>